/* font family */
body{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0px;
}

.header{
    background: #FFF8F3;
    /* height: 100vh; */
    padding-left: 60px ;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
   
    background-position: bottom right;
}
nav .web-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
nav .r{
    color: #FD6E0A;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;

}

nav > ul{
    display: flex;
    text-align: right;
    align-items: center;
}

nav > ul >li{
    list-style: none;
    margin-right: 50px;
}

nav > ul > li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

nav ul li button a{
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav button{
    font-size: 20px;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
}

/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    
}

.banner-left{
    padding-top: 150px;
    max-width: 580px;
}

.banner-greet{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}
.banner-name{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
}

.banner-paragraph{

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.banner-left .first{
    width: 190px;
    height: 50px;
    border-radius: 5px;
    background-color: #FD6E0A;
    margin-right: 20px;
    border: 0;
}

.banner-left .last{
    width: 190px;
    height: 50px;
    background-color: #FFF8F3;
    border-radius: 5px;
    margin-right: 20px;
    border: 2px solid #FD6E0A;

}

.banner-left .first a{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.banner-left .last a{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #FD6E0A;
    text-decoration: none;
}

.banner-image{
    /* width: 500px; */
    padding-bottom: 0px;
    margin-bottom: 0;
}
/* main start here */

/* about start here */

.about{
    margin: 130px 230px;
    background-color: #FFF8F3;
    padding: 120px;
}
.about-title{
    padding-bottom: 30px;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.about-paragraph{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    }